.paragraph-xsmall-regular {
    font-size: 12px;
    font-weight: 400;
}

.paragraph-sm-regular {
    font-size: 14px;
    font-weight: 400;
}

.paragraph-sm-regular-erased {
    font-size: 14px;
    font-weight: 300;
    text-decoration: line-through;
}

.paragraph-sm-medium {
    font-size: 14px;
    font-weight: 500;
}

.paragraph-lg-regular {
    font-size: 16px;
    font-weight: 300;
}

.subtitle-regular {
    font-size: 24px;
    font-weight: 400;
}

.subtitle-medium {
    font-size: 24px;
    font-weight: 500;
}

.subtitle-bold {
    font-size: 24px;
    font-weight: 700;
}

.title-bold {
    font-size: 32px;
    font-weight: 700;
}

.text-default-style {
    display: inline-flex;
    gap: 8px;
    text-align: left;
}

.sr-only {
    position: absolute;
    /* Zero values for pixel sizes removes that element from the flow of your document,
    meaning screen readers will ignore it */
    width: 1px;
    height: 1px;
    overflow: hidden;
}