.product-image {
    height: 320px;
    margin-left: 16px;
}

.product-images-section {
    display: flex;
    flex: 3;
}

.product-images-skeleton-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 44px;
}