.product-image {
    height: 320px;
    margin-left: 16px;
}

.produc-images-empty-state {
    display: flex;
}

.product-images-section {
    display: flex;
    flex: 2;
}

.product-images-skeleton-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 44px;
}