.attributes-container {
    background-color: var(--white);
    padding: 24px;
    margin: 24px 0px;
    border-radius: var(--border-radius);
    width: 100%;
    box-shadow: var(--shadow);
}

.attributes-skeleton-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.subsection-title {
    margin-bottom: 16px;
}