.radio-input-container input {
    display: none;
}

.radio-input-container label {
    cursor: pointer;
}

.radio-input-container {
    display: flex;
    align-items: center;
    border-color: var(--dark-blue);
    color: var(--dark-blue);
    padding: 4px 8px;
    border-radius: var(--border-radius);
    cursor: pointer;
    border-width: 2px;
    border-style: solid;
    justify-content: center;
    text-align: center;

}

.radio-input-container:hover {
    background-color: var(--dark-blue)4d;
}

.radio-checked {
    background-color: var(--dark-blue);
}

.radio-checked label {
    color: var(--white);
}