.description-container {
    padding: 24px;
    gap: 16px;
    display: flex;
    flex-direction: column;
}

.features-container {
    border-color: #e0e2e5;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    padding: 16px;
    flex: 2;
}

.product-content-container {
    display: flex;
    flex-direction: column;
    padding: 40px 144px;
}

.product-info-container {
    display: flex;
    padding: 24px;
    background-color: white;
    margin: 24px 0px;
    border-radius: 4px;
    gap: 24px;
}

.subsection-title {
    margin-bottom: 16px;
}