.divider {
    opacity: 30%;
    margin: 16px 0;
}

.product-content-container {
    display: flex;
    flex-direction: column;
    padding: 40px 15vw;
}

.product-info-container {
    display: flex;
    padding: 24px;
    background-color: var(--white);
    margin: 24px 0px;
    border-radius: var(--border-radius);
    gap: 24px;
    flex-wrap: wrap;
    box-shadow: var(--shadow);
}