.row {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 8px;
    width: 100%;
    gap: 16px;
    flex-wrap: wrap;
}

.colored {
    background-color: #e0e2e5;
}