.radio-image~input {
    display: none;
}

label>.radio-image {
    cursor: pointer;
}

.radio-image {
    border-color: var(--gray);
    border-style: solid;
    border-width: 1px;
    border-radius: --border-radius-sm;
    padding: 4px;
    width: 48px;
}

.radio-image:hover,
.radio-image-checked {
    border-color: var(--dark-blue);
    border-width: 2px;
}