.radio-image~input {
    display: none;
}

label>.radio-image {
    cursor: pointer;
}

.radio-image {
    border-color: #e0e2e5;
    border-style: solid;
    border-width: 1px;
    border-radius: 2px;
    padding: 4px;
    width: 48px;
}

.radio-image:hover,
.radio-image-checked {
    border-color: #0d3b66;
    border-width: 2px;
}