.primary-button {
    background-color: #0d3b66;
    border-color: transparent;
    border-radius: 4px;
    color: white;
    padding: 8px;
}

.primary-button:hover,
.warning-button:hover {
    opacity: 90%;
}

.secondary-button {
    border-color: #0d3b66;
    border-radius: 4px;
    color: #0d3b66;
    padding: 8px;
    border-width: 2px;
    border-style: solid;
}

.secondary-button:hover {
    background-color: #0d3b66;
    color: white;
}

.warning-button {
    background-color: #9e2626;
    border-color: transparent;
    border-radius: 4px;
    color: white;
    padding: 8px;
}