.no-pictures-container {
    background-color: var(--gray);
    height: -webkit-fill-available;
    display: block;
    width: 100%;
    padding: 8px;
    margin: 8px;
    border-radius: var(--border-radius);
}

.no-pictures-container-with-border {
    border-color: var(--dark-blue);
    border-style: solid;
    border-width: 1px;
    border-radius: var(--border-radius-sm);
}

.no-pictures-icon {
    height: 100%;
}