.no-pictures-container {
    background-color: #efefef;
    height: -webkit-fill-available;
    display: block;
    width: 100%;
    padding: 8px;
    margin: 8px;
    border-radius: 4px;
}

.no-pictures-container-with-border {
    border-color: #0d3b66;
    border-style: solid;
    border-width: 1px;
    border-radius: 2px;
}

.no-pictures-icon {
    height: 100%;
}